*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 500px;
    height: 340px;
    border: 5px solid orange;
    border-radius: 20px;
    box-shadow: 5px 5px 10px brown;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

h1{
    font-size: 2.5rem;
}

p{
    font-size: 1.2rem;
}

label{
    margin: 20px 0 0;
    font-size: 1.5rem;
}

#num{
    font-size: 1.3rem;
    padding: 0.5px;
    border-radius: 10px;
    height: 35px;
}

#num:focus{
    border: 5px solid orange;
    outline: none;    
}

button{
    width: 100px;
    color: white;
    height: 40px;
    font-size: 1.2rem;
    background-color: rgb(3, 3, 63);
    border-radius: 15px;
    border: none;
}

button:hover{
    background-color: green;
    cursor: pointer;
}

.result{
    font-size: 1.1rem;
    border: 2px solid rgb(250, 62, 62);
    padding: 2px 10px;
    width: max-content;
    background-color: red;
    color: white;
    margin: 10px;
    border-radius: 20px;
}

.guessed{
    font-size: 1.3rem;
    margin: 10px 0;
}

@media only screen and (max-width: 400px) {
    *{
        margin: 10px;
        text-align: center;
        font-size: 1.3rem;
    }
    .container{
        border: none;
        box-shadow: none;
        height: 600px;
        width: 95%;
    }
}
