*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 500px;
    height: 300px;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
}